@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}